services:
  backend:
    build: ./ECommerceAPI     
    container_name: ecommerce-backend
    ports:
      - "5000:5000"
    networks:
      - app_net

  frontend:
    build: .              
    container_name: ecommerce-frontend
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - certbot-etc:/etc/letsencrypt
      - certbot-var:/var/www/certbot
    networks:
      - app_net

  certbot:
    image: certbot/certbot
    container_name: ecommerce-certbot
    command: certonly --webroot -w /var/www/certbot --email nguyendinhbach2015@gmail.com --agree-tos --no-eff-email -d ecommerce-app.bachnguyen.website
    volumes:
      - certbot-etc:/etc/letsencrypt
      - certbot-var:/var/www/certbot
    networks:
      - app_net

networks:
  app_net:

volumes:
  certbot-etc:
  certbot-var:
