services:
  postgres:
    image: postgres:15
    container_name: ecommerce-postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: yourpassword
      POSTGRES_DB: EcommerceDb
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - app_net

  backend:
    build: ./ECommerceAPI     
    container_name: ecommerce-backend
    ports:
      - "5000:5000"
    environment:
      ConnectionStrings__DefaultConnection: "Host=postgres;Port=5432;Database=EcommerceDb;Username=postgres;Password=yourpassword"
    depends_on:
      - postgres
    networks:
      - app_net

  frontend:
    build: .              
    container_name: ecommerce-frontend
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - certbot-etc:/etc/letsencrypt
      - certbot-var:/var/www/certbot
    networks:
      - app_net

  certbot:
    image: certbot/certbot
    container_name: ecommerce-certbot
    command: certonly --webroot -w /var/www/certbot --email nguyendinhbach2015@gmail.com --agree-tos --no-eff-email -d ecommerce-app.bachnguyen.website
    volumes:
      - certbot-etc:/etc/letsencrypt
      - certbot-var:/var/www/certbot
    networks:
      - app_net

networks:
  app_net:

volumes:
  certbot-etc:
  certbot-var:
  postgres-data:
