<!-- Header / Navbar -->
<header class="navbar">
  <div class="logo">
    <a routerLink="/">E-Commerce 6789Store</a>
  </div>

  <nav>
    <a routerLink="/">Home</a>
    <a routerLink="/products">Products</a>
    <a routerLink="/cart">Cart</a>
    <a *ngIf="!username" routerLink="/auth">Login / Register</a>
    <a *ngIf="username" class="user-label">Hi, {{ username }}</a>
    <a *ngIf="username" class="logout" (click)="logout()">Logout</a>
  </nav>

</header>

<!-- Main content -->
<main class="main-content">
  <router-outlet></router-outlet>
</main>

<!-- Footer -->
<footer class="footer">
  <p>&copy; Bach Nguyen E-Commerce Store. All rights reserved.</p>
</footer>